/target
/.settings
/bin/
*.classpath
*.project
/e3-manager-dao/.settings
/e3-manager-dao/target
/e3-manager-dao/*.project
/e3-manager-dao/*.classpath
/e3-manager-interface/.settings
/e3-manager-interface/target
/e3-manager-interface/*.project
/e3-manager-interface/*.classpath
/e3-manager-pojo/.settings
/e3-manager-pojo/target
/e3-manager-pojo/*.project
/e3-manager-pojo/*.classpath
/e3-manager-service/.settings
/e3-manager-service/target
/e3-manager-service/*.project
/e3-manager-service/*.classpath
